<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GoRest API Suite" parallel="false">

  <test name="Users Positive Tests">
    <packages>
      <package name="com.gorest.tests.users.positive" />
    </packages>
  </test>

  <test name="Users Negative Tests">
    <packages>
      <package name="com.gorest.tests.users.negative" />
    </packages>
  </test>

  <test name="Posts Positive Tests">
    <packages>
      <package name="com.gorest.tests.posts.positive" />
    </packages>
  </test>

  <test name="Posts Negative Tests">
    <packages>
      <package name="com.gorest.tests.posts.negative" />
    </packages>
  </test>

  <test name="Comments Positive Tests">
    <packages>
      <package name="com.gorest.tests.comments.positive" />
    </packages>
  </test>

  <test name="Comments Negative Tests">
    <packages>
      <package name="com.gorest.tests.comments.negative" />
    </packages>
  </test>

</suite>
