<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GoRest API Suite" parallel="none">

  <test name="Single - Create Users">
    <classes>
      <class name="com.gorest.tests.users.positive.CreateUserTest"/>
    </classes>
  </test>

  <test name="Single - Get All Users">
    <classes>
      <class name="com.gorest.tests.users.positive.GetAllUsersTest"/>
    </classes>
  </test>

  <test name="Single - Get User By ID">
    <classes>
      <class name="com.gorest.tests.users.positive.GetUserByIdTest"/>
    </classes>
  </test>
  
  <test name="Single - Update User By ID">
    <classes>
      <class name="com.gorest.tests.users.positive.UpdateUserTest"/>
    </classes>
  </test>
  
  <test name="Single - Patch User By ID">
    <classes>
      <class name="com.gorest.tests.users.positive.PatchUserTest"/>
    </classes>
  </test>

<test name="Single - Create Post">
	    <classes>
	      <class name="com.gorest.tests.posts.positive.CreatePostTest"/>
	    </classes>
	  </test>
	  
	  <test name="Single - Get All Post">
	    <classes>
	      <class name="com.gorest.tests.posts.positive.GetAllPostsTest"/>
	    </classes>
	  </test>

</suite>
